name: Test tap-pingdom

on:
  push:
    branches: [main]
    paths:
    - tap_pingdom/**
    - tests/**
    - pyproject.toml
    - .github/workflows/test.yml
    - .github/workflows/constraints.txt
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
    - tap_pingdom/**
    - tests/**
    - pyproject.toml
    - .github/workflows/test.yml
    - .github/workflows/constraints.txt
  workflow_dispatch:
  schedule:
  # Run weekly on Monday at 12:00 PM UTC
  - cron: "0 12 * * 1"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=tox
  TOX_VERSION: 4.25.0
  # renovate: datasource=pypi depName=tox-uv
  TOX_UV_VERSION: 1.25.0
  # renovate: datasource=pypi depName=uv
  UV_VERSION: "0.6.9"

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.14"
        - "3.13"
        - "3.12"
        - "3.11"
        - "3.10"

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      with:
        version: "${{ env.UV_VERSION }}"

    - name: Run tests
      env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
        TAP_PINGDOM_TOKEN: ${{ secrets.TAP_PINGDOM_TOKEN }}
        TAP_PINGDOM_START_DATE: ${{ secrets.TAP_PINGDOM_START_DATE }}
      run: >
        uvx
        --with tox-uv==${{ env.TOX_UV_VERSION }}
        --with tox==${{ env.TOX_VERSION }}
        tox -e ${{ matrix.python-version }}

  lint:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      id: setup-python
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      with:
        version: "${{ env.UV_VERSION }}"
    - env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
      run: >
        uv tool install
        --with tox-uv==${{ env.TOX_UV_VERSION }}
        --from tox==${{ env.TOX_VERSION }}
        tox
    - name: Static type checking
      run: tox -e typing
    - name: Unused, missing and transitive dependencies
      run: tox -e dependencies

  pre-commit:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: j178/prek-action@91fd7d7cf70ae1dee9f4f44e7dfa5d1073fe6623 # v1.0.11
